*, 
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --clr-primary:  rgba(81, 203, 238, 1);
  --clr-grey: #777;
  --clr-black: #2c3e50;
}

.btn{
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: .6em 1.6em;
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.15);
}

.btn--save{
  background-color: var(--clr-primary);
  color: #fefefe;
}

.input-block{
  margin: 8px 0;
}

.radio-block [type="radio"]{
  position: absolute;
  clip-path: polygon(0 0);
}

.radio-block [type="radio"]:checked + label{
  font-weight: 600;
  color: #000;
}

.radio-block label{
  font-size: 16px;
  font-weight: 600;
  color: #11111160;
  transition: .2s ease;
}

.font-family{
  display: flex;
  max-width: 400px;
  width: 90%;
  overflow-x: scroll;
  height: 2em;
}

.font-family .radio-block{
  margin-right: 5em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-block--file{
  display: flex;
  width: 90%;
  position: relative;
}

.file-input, 
.file-input-label{
  padding: .5em .75rem;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  border: .25px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  flex: 1 0 auto;
}

.file-input{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  border-left: 0px;
  position: relative;
  width: 95%;
}

.file-input-label {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.file-input:focus{
  outline: none;
  border: .25px solid var(--clr-primary);
}

.file-input-label{
  padding: .75em;
  background-color: #e9ecef;
  white-space: no-wrap;
  vertical-align: middle;
  flex: 0 0 auto;
}

.range-input {
  position: relative;
  -webkit-appearance: none;
  height: 2px;
  width: 60%;
  border-radius: 5px;
  background: var(--clr-grey);
  outline: none;
  padding: 0;
  bottom: 4px;
}



.range-input::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: var(--clr-black);
    cursor: pointer;
}

#image-container {
  display: flex;
}

form{
  margin-bottom: 20px;
}


/*Content*/

.content{
  width: 95%;
  margin: 0 auto;
}

.content .form__grp{
  display: flex;
  flex-wrap: wrap;
}

.form__grp > .input-block{
  flex: 0 1 50%;
}

.form__grp > .input-block--text{
  flex: 0 1 100%;
}

.input-block--text input{
  width: 85%;
  height: 2em;
  border: none;
  background: #e9ecef;  
  color: #555;
  font-weight: 400;
  border-radius: 5px;
  border: .5px solid #ddd;
  padding: 0 25px;
  margin-left: .5em;
  outline: none;  
}