*, 
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --clr-primary:  rgba(81, 203, 238, 1);
  --clr-black: #100c08;
  --clr-dark: #2c3e50;
  --clr-dark--fade: #2c3e5076;
  --clr-light: #fafafa;
  --clr-black--fade: #100c0876;

  --fs-3: 16px;
  --fs-small: 14px;
}

@media screen and (max-width: 600px){
  :root{
    --fs-3: 14px;
    --fs-small: 13px;
  }
}

body{
  font-family: 'Poppins';
  font-size: var(--fs-3);
}

@media screen and (max-width: 600px){
  .form_container{
    width: 95%;
    margin: 0 auto; 
    overflow-y: scroll;
  }

  .canvas_container{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .curtain{
    display: none;
  }

  .darken{
    background-color: var(--clr-dark) !important;
  }

  .form__block{
    margin-top: 10px;
  }

  .form__block--file{
    margin-bottom: 20px;
  }

  .btn{
    display: inline-block;
    padding: 5px 12px;
    background: var(--clr-dark);
    color: var(--clr-light);
  }

  .btn--switch{
    cursor: pointer;
    background: inherit;
    -webkit-tap-highlight-color: transparent;
    color: var(--clr-black--fade);
    transition: all .25s ease;
    border-radius: 2px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: var(--fs-small);
    flex: 1 1 calc(100% / 3); 
    position: relative;
  }

  .btn--switch + .btn--switch{
    border-left: 5px;
  }

  .btn--switch:focus{
    outline: none; 

  }

  .btn--switch--active{
    color: var(--clr-black);
  }

  .switches{  
    position: sticky;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 40px;
    display: flex; 
    justify-content: space-between;
    background: #efefef;
  }

  .form {
    margin-bottom: 1em;
  }

  .form .form__block + .form__block{
    margin-top: 10px;
  }

  .canvas_container{
    margin: 2px 0 15px;
  }

  .form__font-family{
    display: flex;
    overflow-x: scroll;
    
  }

  .form__block--radio{
    position: relative;
  }

  .form__block--radio label{
    position: relative;
    display: inline-block;
    width: 17px;
    height: 1.5px;
    background: #9a9a9a;
    cursor: pointer;
    top: 5px;
  }

  .form__block--radio label + label{
    margin-left: 5px;
  }

  .form__block--radio label::before,
  .form__block--radio label::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
  }

  .form__grp--text {
    display: flex;
    flex-flow: row wrap;
    font-size: 12.5px;
    font-weight: 600;
    width: 95%;
    margin: 0 auto;
  }

  .form__grp--text > *{
    flex: 1;
  }

  .form__grp--text  .form__block--text{
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form__grp--text span{
    margin-right: 8px;
  }

  .form__grp--text + .form__grp--text{
    margin-top: 1em;
  }

  .form__grp--text .form__block--range{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form__grp--text .form__block--range label{
    margin-right: 7px;
  }
  

  .form__grp--text .form__block--range > .form__range{
    /* flex: 0 1 80px; */
    width: 75%;
    /* max-width: 120px; */
  }

  .form__text{
    border: 1.5px solid var(--clr-dark--fade);
    width: 80%;
    height: 125%;
  }

  .form__text:focus{
    outline: none;
    background: 
  }

  .form__block--radio label::before{
    top: 6px;
  }

  .form__block--radio label::after{
    height: 2px;
    top: 12px;
  }

  .form__block--radio label:nth-of-type(1)::before{
    left: 0;
    width: 65%;
  }

  .form__block--radio label:nth-of-type(1)::after{
    left: 0;
    width: 85%;
  }

  .form__block--radio label:nth-of-type(2)::before{
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }

  .form__block--radio label:nth-of-type(2)::after{
    left: 0;
    width: 100%;
  }

  .form__block--radio label:nth-of-type(3)::before{
    right:  0;
    width: 60%;
  }

  .form__block--radio label:nth-of-type(3)::after{
    right: 0;
    width: 80%;
  }

  .form__block--radio input{
    appearance: none;
    outline: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .radio_block{
    padding: 0 10px 0 0;
    height: 28px; 
  }

  .radio_block + .radio_block{
    margin-left: 3em;
  }

  .radio_block input[type="radio"]{
    appearance: none;
    outline: none;
  }

  .radio_block label{
    font-weight: 400;
    color: #111111ce;
  }

  .radio_block input[type="radio"]:checked + label{
    font-weight: 600;
    color: var(--clr-black);
  }
  .form__range{
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    border-radius: 5px;
    background: #777;
    outline: none;
    padding: 0;
    margin: 0;
  }

  .form__range::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: var(--clr-dark);
    color: var(--clr-dark);
    width: 11px;
    height: 11px;
    border-radius: 100%;
  }

  .form__grp--range,
  .form__grp--color{
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    margin: 0 auto; 
  }


  .form__grp--range > .form__block,
  .form__grp--color > .form__block{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    justify-content: space-around;
    height: 28px;
  }

  .form__grp--range label,
  .form__grp--color label{  
    transform: scaleY(1.03);
    display: inline-block;
    width: 60px;
    white-space: nowrap;
  }

  .form__grp--range .form__block:nth-of-type(even) label,
  .form__grp--color .form__block:nth-of-type(even) label{
    margin-left: 10px;
    
  }

  .form__grp--range input{
    width: 80px;
  }
}

@media screen and (max-width: 340px){
  body{
    font-size: 13px;
  }

  .form__grp--text{
    width: 100%;
  }

  .form__grp--text span{
    margin-right: 4px;
  }

  .form__grp--text .form__block--range label{
    margin-right: 4px;
  }

  .form__font-family{
    width: 100%;
  }

  .form__grp--range > .form__block,
  .form__grp--color > .form__block{
    max-width: 50%;  
  }

  .form__grp--range label,
  .form__grp--color label{
    font-size: 11px;
    letter-spacing: 0;
  }

  .form-_grp--range input{
    max-width: 50px;  
  }

}